{{yield}}

<li{{action "showDaBidness"}}>{{city.cityName}}</li>

{{#if showDaBidnessForm}}
  {{#each city.businesses as |business|}}
    <li>{{#link-to 'review' business.id}}{{business.businessName}}{{/link-to}}<button class="btn btn-warning jt-button" {{action "hideDaBidness"}}>Hide</button></li>
  {{/each}}
{{/if}}
