{{yield}}

{{#if addNewBusiness}}
<h1>Add A New Business</h1>
  <form>
    <div class="form-group">
      <label for="businessname">Name Of Business</label>
      {{input class="form-control" value=businessname id="businessname"}}
    </div>

    <div class="form-group">
      <label for="streetAddress">Street Address</label>
      {{input  class="form-control"  id="streetAddress"}}
    </div>

    <div class="form-group">
      <label for="bidnesstype">Business Type</label>
      <select class="form-control" id="bidnesstype">
        <option value="food">Food</option>
        <option value="Clothing">Clothing</option>
        <option value="Transport">Transport</option>
        <option value="Auto">Auto</option>
        <option value="Art">Art</option>
        <option value="Education">Education</option>
      </select>
    </div>

    <button class="btn btn-danger">Add Dis Bidness</button>
  </form>
  {{else}}
  <button class="btn btn-danger"{{action "showBidnessForm"}}>Add A Business</button>
  {{/if}}
